/* VARIABLES */
:root {
  /* COLORS */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #fff;
  /* TYPOGRAPHY */
  --font-preset-1: 400 2.5rem/100% "Young Serif", sans-serif;
  --font-preset-2: 400 1.75rem/100% "Young Serif", sans-serif;
  --font-preset-3: 600 1.25rem/100% "Outfit", sans-serif;
  --font-preset-4: 400 1rem/150% "Outfit", sans-serif;
  --font-preset-4-bold: 700 1rem/150% "Outfit", sans-serif;
  --font-mobile-preset-1: 400 2.25rem/100% "Young Serif", sans-serif;
  /* SPACING */
  --spacing-1600: 8rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
}
* {
  margin: 0px;
}
article {
  padding-block: var(--spacing-500);
  padding-inline: var(--spacing-400);
}
.img-omlette {
  width: 100%;
}
.description {
  padding-block-start: var(--spacing-300);
  padding-block-end: var(--spacing-400);
  font: var(--font-preset-4);
  color: var(--stone-600);
}
strong {
  font: var(--font-preset-4-bold);
  color: var(--stone-600);
}
span {
  font: var(--font-preset-4);
  color: var(--stone-600);
}
.section-preparation-time {
  padding: var(--spacing-300);
  background: var(--rose-50);
  border-radius: 12px;
}
.section-ingredients {
  padding-block: var(--spacing-400);
  border-bottom: 1px solid var(--stone-150);
}
.section-instruction {
  padding-block: var(--spacing-400);
  border-bottom: 1px solid var(--stone-150);
}
.section-nutrition {
  padding-block-start: var(--spacing-400);
}
.section-nutrition p {
  font: var(--font-preset-4);
  color: var(--stone-600);
  padding-block-end: var(--spacing-300);
}
/* LIST */
ol,
ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
ul {
  padding-inline-start: var(--spacing-300);
}
li,
ol {
  padding-inline-start: var(--spacing-200);
}
.section-preparation-time li::marker {
  color: var(--rose-800);
}
.section-ingredients li::marker {
  color: var(--brown-800);
}
.section-instruction li::marker {
  color: var(--brown-800);
  font: var(--font-preset-4-bold);
}
/* HEADERS */
.recipe-title {
  font: var(--font-mobile-preset-1);
}

h2 {
  font: var(--font-preset-2);
  color: var(--brown-800);
  padding-block-end: var(--spacing-300);
}
h3 {
  font: var(--font-preset-3);
  color: var(--brown-800);
  padding-block-end: var(--spacing-200);
}
/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  padding-inline: var(--spacing-400);
  padding-block: var(--spacing-150);
}
tr:not(:last-child) td {
  border-bottom: 1px solid #ddd;
}
/* DESKTOP */
@media screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    padding-block: var(--spacing-1600);
    background-color: var(--stone-100);
  }
  .img-box {
    padding-inline: var(--spacing-500);
    padding-block-start: var(--spacing-500);
  }
  .img-omlette {
    border-radius: 12px;
    display: block;
  }
  .container {
    max-width: 616px;
    background-color: var(--white);
    border-radius: 24px;
  }
}
