:root {
  /* COLORS */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #fff;
  /* TYPOGRAPHY */
  --font-preset-1: 400 2.5rem/100% "Young Serif", sans-serif;
  --font-preset-2: 400 1.75rem/100% "Young Serif", sans-serif;
  --font-preset-3: 600 1.25rem/100% "Outfit", sans-serif;
  --font-preset-4: 400 1rem/150% "Outfit", sans-serif;
  --font-preset-4-bold: 700 1rem/150% "Outfit", sans-serif;
  --font-mobile-preset-1: 400 2.25rem/100% "Young Serif", sans-serif;
  /* SPACING */
  --spacing-1600: 8rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
}
* {
  margin: 0px;
}
article {
  padding-block: var(--spacing-500);
  padding-inline: var(--spacing-400);
}
.img-omlette {
  width: 100%;
}
.recipe-title {
  font: var(--font-mobile-preset-1);
}
.description {
  padding-block-start: var(--spacing-300);
  padding-block-end: var(--spacing-400);
}
.section-preparation-time {
  padding: var(--spacing-300);
  background: var(--rose-50);
}
.section-ingredients {
  padding-block: var(--spacing-400);
  border-bottom: 1px solid var(--stone-150);
}
.section-instruction {
  padding-block: var(--spacing-400);
  border-bottom: 1px solid var(--stone-150);
}
.section-nutrition {
  padding-block-start: var(--spacing-400);
}
